version: '2.1'
orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

jobs:
  deploy_app_to_railway:
    docker:
      - image: cimg/python:3.10
    working_directory: ~/project
    steps:
      - checkout
      - node/install:
          node-version: '20.9'
      - run:
          name: Node version
          command: node --version
      - run:
          name: Instalar Railway CLI
          command: npm i -g @railway/cli
      - run:
          name: Desplegar API en Railway
          command: |
            cd bankchurn-api
            railway up --service=victorious-gratitude
            railway up --detach



tags_only: &tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^.*/

workflows:
  version: 2
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only:
                - main
